
.app{

display: grid;
grid-template-rows: 60px 1fr;
grid-template-columns: 2fr 10fr;
grid-template-areas:
"h h"
"m p";
grid-gap: 0.3vw;
background-color: rgb(252, 250, 241);

min-height: 800px;
width:100%;
}

.app-profile{
    grid-area: p ;
    padding: 10px;
}

