.recipe{

    display: grid;
    grid-template-rows: 60px 10fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
    "h b"
    "i s";
    grid-gap: 0.3vw;
  
    }
    .recipeHeader{
        grid-area: h;
        padding: 10px;
        text-align: center;
        }
    .button{
        
        grid-area: b;
        padding: 10px;
    }
    .steps{
        padding-top: 7% !important;
        grid-area: s;
        padding: 10px;
        width: 100%;
    }
    ul {
        padding: 0; /* Убираем поля */
        margin-left: 20px; /* Отступ слева */
       }
    .ingredients{
        padding-top: 30% !important;
        grid-area: i ;
        padding: 10px;

    }